html {
	scroll-behavior: smooth;
	font-family: basic-sans, sans-serif;
}

body {

}

p {
	font-size: 20px;
}

a {
	text-decoration: none;
}

.vignette {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 20px rgba(0,0,0,0.9) inset;
}

.toosmall {
	font-size: 24px;
	color: black;
	display: none;
}

@media (max-width: 799px) {
	.toosmall {
		display: flex;
	}
}

.anigif {
	-webkit-box-shadow: 0px 0px 16px 4px #85586F80;
    -moz-box-shadow: 0px 0px 16px 4px #85586F80;
    box-shadow: 0px 0px 16px 4px #85586F80;
}

.section1 {
	text-align: center;
	background-color: #F8ECD1;
	padding: 24px;
}

.downbutton1 {
	background: linear-gradient(80deg, #EB5353 20%, #F9D923 80%);
	max-width: 480px;
	min-height: 64px;
	margin: auto;
	border: 2px solid #DEB6AB;
	border-radius: 32px;
	-webkit-box-shadow: 0px 0px 16px 4px #85586F80;
    -moz-box-shadow: 0px 0px 16px 4px #85586F80;
    box-shadow: 0px 0px 16px 4px #85586F80;
	transition: all 300ms ease;
	transition-duration: 300ms;
}

.downbutton1:hover {
	transform: scale(1.25);
	-webkit-box-shadow: 0px 0px 16px 4px #AC7D8880;
    -moz-box-shadow: 0px 0px 16px 4px #AC7D8880;
    box-shadow: 0px 0px 16px 4px #AC7D8880;
}

.downbutton1 p {
	text-decoration: none;
	color: #EEEEEE;
	font-weight: bold;
	font-size: 26px;
}

@media (orientation: portrait) {
	.section1 {
		display: none;
	}
}

.section2 {
	background: linear-gradient(300deg, #FBF8F1 40%, #F7ECDE 100%);
	display: flex;
	justify-content: center;
	padding: 24px;
}

.s21 img {
	height: 256px;
	border: 5px solid black;
	border-radius: 100%;
}

.s22 {
	margin-left: 48px;
	max-width: 540px;
}

.s22 h1 {
	font-size: 36px;
	font-weight: bolder;
}

.s22 p {

}