html {
	font-family: basic-sans, sans-serif;
	background-color: #e0c8c2;
}

.sempit {
	max-width: 768px;
	margin: auto;
}

.title {
	text-align: center;
}

.title h1 {
	font-size: 32px;
	font-weight: bolder;
	margin: 0;
}

.title p {
	font-size: 16px;
	font-weight: bolder;
	margin: 0;
}

.bayo {
	text-align: center;
}

.bayo h1 {
	font-size: 32px;
	font-weight: bolder;
	margin: 8px;
}

.bayo p {
	font-size: 20px;
	font-weight: normal;
	margin: 8px;
}

.bayo li {
	font-size: 20px;
	font-weight: normal;
	margin: 8px;
	text-align: left;
}